// Variables
$background-color: white;
$header-color: #8398a7;
$about-color: white;
$targetting-color: #dedede;
$automation-color: white;
$samples-color: #dedede;
$contact-color: #e51d2a;
$accent-color: #fefefe;
$link-color: #121212;
$selection-color: #212121;
$text-color: #353535;
